<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Update Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Update Client</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="clientForm" (ngSubmit)="updateClient()">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-img class="photo-frame" *ngIf="capturedPhoto" [src]="capturedPhoto" (click)="takePhoto()"></ion-img>
          <ion-img class="photo-frame" *ngIf="!capturedPhoto" src="../../assets/images/avatarvacio.jpg"
            (click)="takePhoto()"></ion-img>
        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" fill="outline" (click)="takePhoto()">
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            Take a photo
          </ion-button>
          <ion-button color="primary" fill="outline" (click)="pickImage()">
            <ion-icon slot="start" name="image-outline"></ion-icon>
            Pick an image
          </ion-button>
          <ion-button color="danger" fill="outline" (click)="discardImage()">
            <ion-icon slot="start" name="aperture"></ion-icon>
            Discard image
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('name')?.hasError('required') && getFormControl('name')?.touched">
      Name is required.
    </ion-note>

    <ion-button color="dark" expand="full" type="submit" [disabled]="!clientForm.valid">
      <ion-icon slot="start" name="build-outline"></ion-icon>Update</ion-button>
    <ion-button color="dark" expand="block" (click)="gotoHomepage()">
      Back</ion-button>
  </form>